body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    color: #fff;
    background: -webkit-linear-gradient(top, transparent, #66d9ff);
}

#sidebar .sidebar-header {
    background: transparent;
    border-bottom: 1px solid #47748b;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: black;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color:inherit;
}
#sidebar ul li a:hover {
    color: black;
    background: #ff99cc;
    border-radius:20px;
}

ul {
    list-style:none;
    margin-left:10px;
    padding-left:0;
}

#sidebar {
    margin-top: 78px;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    color: black;
}
#searchbar{
    margin-top:6%;
    margin-left:15%;
}
#searchinput{
    width:600px;
    position:fixed;
    z-index:1;
    overflow:hidden;
}
#patientsList{
    float: left;
    height: 150px;
    margin-top:50%;
  }

